data
docs/*
!docs/benchmark_and_analysis_class_reference.md
!docs/publishing_and_installation.md
!docs/requirements.txt
!docs/Makefile
!docs/make.bat
!docs/source/
!docs/source/**

experiments
!tests/data/
!tests/data/**

*.m8

__pycache__
.DS_Store
